body {
    background: linear-gradient(#3b0900, #680700,#dd0909 75%);
  background-size: 120% 120%;
  animation: gradient-animation 6s ease infinite;
    font-family: "Crimson text", serif;
}
.window {
    width: 80%;
    background-color: rgb(255, 170, 0);
    margin:auto
}
.author {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.author > h2 {
    font-weight: bold;
}
.author > p {
    font-size: larger;
}
.profile-pic {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.middle-grid {
    display:grid;
    gap: 20px;
    grid-template-columns: minmax(200px, 500px) minmax(200px, 500px);
    padding: 20px;
}
.grid-item > img {
    width: 200px;
    height:200px;
    float: left;
}
.grid-item > h5 {
    font-weight: 600;
}
.grid-item > p {
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
}
@media (max-width: 480px) {
    .author {
        display: block;
    }
    .selection, .middle-grid,  h2 {
        display: block;
        text-align: center;
    }
    .grid-item > img {
        float: none;
    }
    
}